@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.heading {
    color: #310A31;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
}
